---
import ThemeToggle from "./themeToggle";
---

<nav
  class="fixed inset-x-0 top-0 w-full border-b border-black p-3 dark:border-primary"
>
  <div class="my-auto flex">
    <div class="navbar-start flex items-center">
      <a
        href="/"
        class="flex flex-wrap gap-1 text-balance text-xl"
        rel="prefetch"
      >
        <strong class="text-primary">GlitchTech</strong><span>
          Developments
        </span>
      </a>
    </div>
    <div class="min-h-21 navbar-end flex items-center gap-2">
      <ThemeToggle client:idle />
    </div>
  </div>
</nav>
