---
import RootLayout from "@/layouts/rootLayout.astro";
---

<RootLayout>
  <div class="flex h-[90svh] items-center justify-center">
    <section>
      <span class="flex flex-wrap gap-1 text-balance text-4xl">
        <strong class="text-primary">GlitchTech</strong><span>
          Developments
        </span>
      </span>
    </section>
  </div>
</RootLayout>
