---
import MetaTags from "./injects/meta.astro";
import ThemeSwitch from "./injects/theme.astro";
import Navbar from "./navbar/navbar.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <MetaTags title={title} />
    <ThemeSwitch />
  </head>
  <body>
    <main>
      <Navbar />
      <div class="pt-16">
        <slot />
      </div>
    </main>
  </body>
</html>
